html {
  scroll-behavior: smooth;
}
body {
  background-color:  #14161d;
  width:95vw;
  color: #1df28f;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  font-family: 'Comfortaa', sans-serif;
}

.logo {
  width: 9%;
  height: auto;
}
.NavBar {
  position: fixed;
  top:0%;
  left:0%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the content */
  padding: 10px;
  width: 95%;
  height: 10vh; /* Adjust the height as needed */
  background-color: #14161d;
  z-index: 2; /* Apply the background color here */
}
.NavBarButtons{
  width:60%;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavButton {
  background: transparent;
  color: #1df28f;
  padding: 1px 2px;
  font-size: 12px;
  height:75%;
  width:max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center; /* Set the transform origin to the center for scaling */
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}
.NavButton:hover {
  transform: scale(1.1) translateY(-5px); /* Scale and translate vertically */
  transition: transform 0.2s ease-in-out;
}
.logos {
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}
.logos:hover{
  transform: scale(1.1) translateY(-5px); /* Scale and translate vertically */
  transition: transform 0.2s ease-in-out;
}
.Title {
  color: #1df28f;
}
.download-buttons{
  display: flex;
  width:66%;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
  height:10%;
  margin: 10px;
}
.DownloadButton {
  background: transparent;
  color: #1df28f;
  border: 1px solid #1df28f;
  border-radius: 7px;
  font-family: 'Comfortaa', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
.DownloadButton:hover {
  background-color: #1df28f;
  color: #14161d;
}
#formButton{
  position: fixed;
  bottom: 0;
  right:5%;
  height: fit-content;
  font-family: 'Comfortaa', sans-serif;
}
.feedback-container {
    position: relative;
  }
  
  .feedback-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: fit-content;
    background: linear-gradient(to bottom, #048C7F, #1df28f);
    padding: 20px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px 200px rgba(0, 0, 0, 0.5);
  }
  
  .feedback-form form {
    display: flex;
    flex-direction: column;
  }
  
  .feedback-form input,
  .feedback-form textarea {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    transition: outline 0.1s ease-in-out;
    font-family: 'Comfortaa', sans-serif;
  }
  .feedback-form input:focus,
.feedback-form textarea:focus {
  outline: 2px solid #14161d; /* Change the color and width as desired */
  /* Optionally, you can also change the outline offset and style */
}
  .submitclosefeedback{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
  }
  .feedback-form button {
    background-color: transparent;
    color: #14161d;
    padding: 10px 20px;
    border: 1px solid #14161d;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    font-family: 'Comfortaa', sans-serif;
  }
  
  .feedback-form button:hover {
    background-color: #14161d;
    color: #1df28f;
  }

  .section {
    position: relative;
    top:10vh;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
  }
  .home_content{
    display: grid;
  grid-template-rows: 1fr 2fr; /* Define 2 rows */
  grid-template-columns: 1fr 0.1fr 1fr;
  padding-left: 10%;
  }
  #homeh1{
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
  }
  #homep{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
  }
  @keyframes growShrink {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Grow by 10% at the midpoint of the animation */
    }
  }
  #homeimg{
    grid-row: 1 / 3; /* Span both rows on the right */
    grid-column: 3 / 4;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 2px solid #048C7F;
    border-radius: 20px;
    animation: growShrink 4s linear infinite; /* Apply the 'growShrink' animation */
  }
  #features {
    background-color: #14161d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .featuresContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
    gap: 5%; /* Adjust the gap between items */
    width:100%;
    height:60%;

    /* Center the items within each grid cell */
    .feature-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 2px solid #1df28f;
      border-radius: 10px;
      padding: 18x;
      transition: transform 0.3s;
      cursor: pointer;
    }
    .feature-icon{
      font-size: 48px;
    }
    .feature-item:hover {
      transform: scale(1.1); /* Scale on hover */
    }
  
    /* Style the text within each grid cell */
    p {
      color: #14161d;
      font-size: 12px;
    }
  }
  .ProfileContainer{
    display: flex;
    width: 100%;
  }
 .ProfileImage{
    height: 100px;
    width: 100px;
 }
  .Profile {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    padding-top: 10px;
    margin: 5px;
    border: 1px solid #1df28f;
    align-items: center;
    justify-content: space-between;
  }
  .IconContainer {
    justify-self: flex-end;
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  .ProfileName{
    display: flex;
    flex-direction: column;
  }
  .ProfileName p {
    margin: 5px;
  }
  ul li {
    font-size: 14px;
    margin: 10px;
    list-style: none; /* Remove default list bullets */
    padding-left: 20px; /* Adjust the space for the custom bullet */
  }
  ul li::before {
    content: "\2022"; /* Unicode bullet character (•) */
    color: #1df28f; /* Color for the bullet */
    font-size: 16px; /* Adjust the bullet size */
    margin-right: 5px; /* Adjust the spacing between the bullet and the list item text */
  }
  .getStartedContent{
    display:flex;
    flex-direction: column;
  }

  .video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .video-container {
    border-radius: 15px;
    overflow: hidden;
  }
  